.widget {
  display: flex;
  align-items: center;
  position: relative;
 
}

.icon {
   height: 2.5em;
    padding: 1.5rem .4rem;
    will-change: filter;
    transition: filter 300ms; 
}

.count {
  z-index: 1;
    font-size: 1.6em;
    top: 38px;
    color: orange;
}
